// основные цвета
$first-bgd-color: #ffffff;
$second-bgd-color: #f1f1f1;
$third-bgd-color: #f9f9f9;

$first-font-color: #000000;
$second-font-color: #444444;
$decor-font-color: #ffffff;

$main-decor-color: #149080;
$first-decor-color: #63d1bb;
$second-decor-color: #56c3b2;
$third-decor-color: #3bb09d;
$fourth-decor-color: #ececec;
$fifth-decor-color: #ededed;
$eight-decor-color: #d0f1ea;
$sixth-decor-color: rgba(255, 255, 255, 0.3);
$seventh-decor-color: #d3d2d2;
$footer-hover-color: #46c1ae;

$goods-categories-icons-hover: #29a592;
$goods-categories-icons-active: #44c0aa;

$tablet-width: 768px;
$desktop-width: 1150px;

// основные шрифты
$main-font-family: "Open Sans", "Arial", sans-serif;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
