// основные цвета
$first-bgd-color: #ffffff;
$second-bgd-color: #f1f1f1;

$first-font-color: #000000;
$second-font-color: #444444;
$decor-font-color: #ffffff;

$first-decor-color: #63d1bb;
$second-decor-color: #56c3b2;
$third-decor-color: #3bb09d;

$tablet-width: 768px;
$desktop-width: 1250px;

// основные шрифты
$main-font-family: "Open Sans", "Arial", sans-serif;

// нижний отступ для site-list и user-block
$site-list-indent: -48px;
