body {
  min-width: 320px;
  font-family: $main-font-family;
  font-weight: normal;
  font-style: normal;

  background-color: $first-bgd-color;
  color: $first-font-color;
}

// кнопка button
.btn {
  display: block;
  min-height: 48px;

  font-size: 17px;
  vertical-align: 20px;
  font-weight: bold;
  color: $second-font-color;
  text-transform: uppercase;
  border: 0;
}

.btn:hover {
  background-color: $second-font-color;
  color: $decor-font-color;
}

.btn:active {
  background-color: $second-font-color;
  color: $sixth-decor-color;
}

.btn:focus {
  outline: none;
}

// скрытый объект
.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// ссылки a
a {
  text-decoration: none;
}

// изображения
img {
  max-width: 100%;
  height: auto;
}
