.basket-popup {
  width: 260px;
  min-height: 336px;
  margin: 0 auto;
  padding: 0 30px;

  color: $second-font-color;

  background-color: orange;
}

.basket-popup__title {
  margin: 0;

  text-align: center;
  font-size: 25px;
  vertical-align: 30px;
  font-weight: bold;
  color: $first-font-color;
  text-transform: uppercase;
}

.basket-popup__text {
  display: block;

  text-align: center;
  font-size: 15px;
  vertical-align: 30px;
}

.basket-popup__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.basket-popup__point {
  font-size: 17px;
  vertical-align: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.basket-popup__add {
  width: 260px;
  margin: 0;
  padding: 0;

  background-color: $first-decor-color;
  font-size: 17px;
  vertical-align: 16px;
  font-weight: bold;
  color: $decor-font-color;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .basket-popup {
    box-sizing: border-box;
    width: 566px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .basket-popup__add {
    width: 350px;
  }
}
