.basket-list {
  background-color: $first-bgd-color;

  font-size: 17px;
  vertical-align: 24px;
  font-weight: bold;
  color: $first-font-color;

  list-style: none;
}

.basket-list__basket {
  color: $first-font-color;
}
