.basket-popup {
  margin: 0;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 46px;

  color: $second-font-color;

  outline: 2px solid orange;

  &::after {
    content: ".basket-popup";
    font-size: 8px;
    background-color: orange;
    color: black;
  }
}

.basket-popup__title {
  font-size: 25px;
  vertical-align: 30px;
  font-weight: bold;
  color: $first-font-color;
  text-transform: uppercase;
}

.basket-popup__text {
  font-size: 15px;
  vertical-align: 30px;
}

.basket-popup__point {
  font-size: 17px;
  vertical-align: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.basket-popup__add-button {
  background-color: $first-decor-color;
  font-size: 17px;
  vertical-align: 16px;
  font-weight: bold;
  color: $decor-font-color;
  text-transform: uppercase;
}
