.blank {
  position: relative;
}

.blank__item {
  border: none;
  margin: 0;
  padding: 0;
}

.blank__footnote {
  margin: 0;
  padding: 0;
  font-size: 14px;
  vertical-align: 16px;
  color: $second-font-color;
}

.blank__submit-order {
  vertical-align: 16px;
}

@media (min-width: $tablet-width) {
  .blank__item {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .blank__title {
    position: absolute;
    left: -167px;
  }

  .blank__footnote {
    text-align: right;
  }

  .blank__submit-order {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .blank__submit-order {
    left: 167px;
  }
}
