.catalog-main {
  margin: 0;

  background-color: $first-bgd-color;
  color: $first-font-color;

  outline: 2px solid green;

  &::after {
    content: ".catalog-main";
    font-size: 8px;
    background-color: green;
    color: white;
  }
}

.catalog-main__header {
  background-color: $second-bgd-color;
  color: $first-font-color;
}

.catalog-main__title {
  margin: 0;
  padding: 80px 30px;

  font-size: 27px;
  vertical-align: 30px;
  font-weight: bold;
  color: $first-font-color;
}

.catalog-main__showcase {
  margin: 0;
  padding: 30px;
}

.catalog-main__process {
  margin: 0;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 58px;

  outline: 4px dotted yellow;

  &__process::after {
    content: ".catalog-main__process";
    font-size: 8px;
    background-color: yellow;
    color: black;
  }
}
