.catalog-main {
  margin: 0;
  padding: 0;
  padding-bottom: 58px;

  background-color: $first-bgd-color;
  color: $first-font-color;
}

.catalog-main__header {
  background-color: $second-bgd-color;
  color: $first-font-color;
}

.catalog-main__bottom-bg {
  display: none;
}

.catalog-main__header-wrapper {
  display: flex;
  min-height: 176px;
  padding: 0 30px;
}

.catalog-main__title {
  margin: auto;
  padding-bottom: 10px;

  text-align: center;
  font-size: 27px;
  vertical-align: 30px;
  font-weight: 700;
  color: $first-font-color;
}

.catalog-main__showcase {
  width: 260px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 0;
}

.catalog-main__process {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .catalog-main {
    margin: 0 auto;
    padding-bottom: 63px;
  }

  .catalog-main__header {
    position: relative;
  }

  .catalog-main__bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -75px;

    fill: #ffffff;
  }

  .catalog-main__header-wrapper {
    width: 668px;
    min-height: 225px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-main__title {
    padding-top: 13px;
    padding-bottom: 0;

    font-size: 43px;
    vertical-align: 50px;
  }

  .catalog-main__showcase {
    width: 668px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 105px;
  }

  .catalog-main__header-wrapper {
    width: 1050px;
    min-height: 255px;
  }

  .catalog-main__title {
    padding-top: 0;
    padding-bottom: 10px;

    font-size: 53px;
    vertical-align: 57px;
  }

  .catalog-main__showcase {
    display: flex;
    width: 1050px;
    justify-content: space-between;
    padding-top: 127px;
  }
}
