.catalog-main {
  margin: 0;
  padding: 0 30px;

  background-color: $first-bgd-color;
  color: $first-font-color;

  background-color: green;
}

.catalog-main__header {
  min-height: 177px;
  background-color: $second-bgd-color;
  color: $first-font-color;
}

.catalog-main__title {
  margin: 0;

  text-align: center;
  font-size: 27px;
  vertical-align: 30px;
  font-weight: bold;
  color: $first-font-color;
}

.catalog-main__showcase {
  width: 100%;
  margin: 0;
}

.catalog-main__process {
  margin: 0;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 58px;

  background-color: yellow;
}

@media (min-width: $tablet-width) {
  .catalog-main {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog-main__header {
    min-height: 225px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog-main__header {
    min-height: 255px;
  }
}
