.characteristics {
  font-size: 15px;
  vertical-align: 24px;
  font-weight: normal;
  color: $second-font-color;

  border-collapse: collapse;
}

.characteristics__title,
.characteristics__field {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $fourth-decor-color;
}

.characteristics__field {
  padding-left: 15px;
}

@media (min-width: $tablet-width) {
  .characteristics__field {
    padding-left: 0;
  }
}
