.company-features {
  margin: 0;
  padding: 35px 30px;

  background-color: $first-bgd-color;
  font-size: 17px;
  vertical-align: 20px;
  color: $first-font-color;
  font-weight: bold;
}

.company-features__title {
  width: 100%;

  font-size: 25px;
  vertical-align: 30px;
}

.company-features__item {
  max-width: 260px;
  min-height: 120px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .company-features {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .company-features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .company-features__column {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .company-features {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}
