.copyright {
  display: flex;
  justify-content: center;
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 183px;
  min-height: 80px;
}

.copyright__text {
  margin-bottom: 6px;

  font-size: 19px;
  vertical-align: 18px;
  font-weight: bold;
  color: $first-font-color;
}

.copyright__link {
  font-size: 0;
  width: 27px;
  height: 34px;
}

.copyright__image {
  width: 27px;
  height: 34px;

  fill: $first-decor-color;
}

@media (min-width: $tablet-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__wrapper {
    margin: 0;
  }

  .copyright__text {
    margin-bottom: 0;
  }
}
