.copyright {
  display: flex;
  justify-content: center;
}

.copyright__link {
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 260px;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 0;
}

.copyright__text {
  margin-bottom: 6px;
  padding-left: 38px;

  font-size: 19px;
  vertical-align: 18px;
  font-weight: 700;
  color: $first-font-color;
}

.copyright__image {
  width: 27px;
  height: 34px;
  padding-right: 39px;

  fill: $first-decor-color;
}

.copyright:active .copyright__image,
.copyright:hover .copyright__image {
  fill: $footer-hover-color;
}

.copyright:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__link {
    width: 185px;
    padding: 0;
  }

  .copyright__text {
    margin-bottom: 0;
    padding-left: 0;
  }

  .copyright__image {
    padding: 0;
    padding-top: 6px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link {
    width: 201px;
  }
}
