.form-type {
  display: flex;

  font-size: 17px;
  vertical-align: 18px;
  font-weight: bold;
  color: $first-font-color;
}

.form-type__wrapper {
  display: block;
  padding-bottom: 20px;
}

.form-type__title {
  padding-top: 0;
  padding-bottom: 34px;
}

.form-type__item {
  display: block;
  margin-bottom: 22px;
  padding-left: 63px;
}

.form-type__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .form-type__wrapper {
    display: flex;
    margin-bottom: 58px;
  }

  .form-type__title {
    width: 167px;
  }

  .form-type__content {
    font-size: 19px;
  }

  .form-type__item {
    margin-bottom: 54px;
    padding-left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .form-type__title {
    width: 175px;
    padding-right: 10px;

    text-align: center;
  }
}
