.form-name {
  padding-bottom: 30px;

  font-size: 17px;
  vertical-align: 18px;
  font-weight: bold;
  color: $first-font-color;
}

.form-name__layout {
  padding-bottom: 8px;
}

.form-name__item {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding-top: 21px;
}

.form-name__input {
  width: 100%;
  display: block;
  margin: 0;
  margin-top: 15px;
  padding-bottom: 15px;

  outline: none;
  border: none;
  border-bottom: 2px solid $first-font-color;
}

.form-name__input:hover {
  border-bottom-color: $first-decor-color;
  transition: border-bottom-color 0.3s ease;
}

::-webkit-input-placeholder {
  opacity: 0.3;
  transition: opacity 0.3s ease;

  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  opacity: 0.3;
  transition: opacity 0.3s ease;

  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

:-moz-placeholder {
  opacity: 0.3;
  transition: opacity 0.3s ease;

  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

:-ms-input-placeholder {
  opacity: 0.3;
  transition: opacity 0.3s ease;

  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

.form-name__input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form-name__input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form-name__input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.form-name__input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (min-width: $tablet-width) {
  .form-name {
    padding-top: 64px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 50px;

    font-size: 19px;
  }

  .form-name__wrapper {
    box-sizing: border-box;
    padding-bottom: 0;
  }

  .form-name__layout {
    padding-bottom: 0;
  }

  .form-name__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form-name__item {
    display: flex;
    padding-top: 0;
    padding-bottom: 38px;
  }

  .form-name__input {
    margin: 0;
    margin-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .form-name__content {
    padding-right: 175px;
  }
}
