.form-main {
  width: 100%;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  background-color: $first-bgd-color;
  color: $first-font-color;
}

.form-main__header {
  display: flex;
  min-height: 177px;

  background-color: $second-bgd-color;
  color: $first-font-color;
}

.form-main__title {
  margin: auto;

  text-align: center;
  font-size: 27px;
  vertical-align: 30px;
  font-weight: bold;
  color: $first-font-color;
  background-color: blue;
}

.form-main__text {
  width: 260px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 20px;

  font-size: 13px;
  vertical-align: 24px;
  font-weight: normal;
  color: $second-font-color;
}

.form-main__form {
  max-width: 260px;
  margin: 0 auto;

  background-color: rgba(200, 200, 200, 0.5);
}

@media (min-width: $tablet-width) {
  .form-main {
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .form-main__header {
    min-height: 225px;
  }

  .form-main__title {
    font-size: 43px;
    vertical-align: 50px;
  }

  .form-main__text {
    width: 668px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .form-main__form {
    max-width: 100%;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-main__header {
    min-height: 255px;
  }

  .form-main__title {
    font-size: 53px;
    vertical-align: 57px;
  }

  .form-main__text {
    box-sizing: border-box;
    width: 1050px;
    padding-top: 127px;
    padding-bottom: 80px;
    padding-left: 175px;
    padding-right: 175px;
  }
}
