.form-phone__content {
  position: relative;
}

.form-phone__content::after {
  content: "";
  position: absolute;
  top: -5px;
  right: 8px;
  width: 25px;
  height: 24px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form-phone__layout {
  padding-bottom: 2px;
}

.form-phone__title {
  padding-top: 0;
  padding-bottom: 20px;
}

.form-phone__item {
  width: 100%;
  display: block;
  padding-bottom: 12px;
}

.form-phone__input {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 15px;

  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
}

.form-phone__input:hover {
  border-bottom-color: $first-decor-color;
}

.form-phone__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-phone__input:focus::-moz-placeholder {
  color: transparent;
}

.form-phone__input:focus:-moz-placeholder {
  color: transparent;
}

.form-phone__input:focus:-ms-input-placeholder {
  color: transparent;
}

@media (min-width: $tablet-width) {
  .form-phone {
    padding-top: 64px;
    padding-bottom: 28px;
    padding-left: 50px;
    padding-right: 50px;

    background-color: $second-bgd-color;
  }

  .form-phone__wrapper {
    box-sizing: border-box;
    display: flex;
    max-width: 668px;
    padding-bottom: 0;
  }

  .form-phone__title {
    background-color: $second-bgd-color;
  }

  .form-phone__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form-phone__content::after {
    top: -3px;
    right: 26px;
  }

  .form-phone__input {
    padding-bottom: 17px;

    background-color: $second-bgd-color;
  }
}

@media (min-width: $desktop-width) {
  .form-phone__wrapper {
    max-width: 1050px;
  }

  .form-phone {
    padding-top: 63px;
  }

  .form-phone__layout {
    padding-right: 18px;
  }

  .form-phone__content {
    padding-right: 175px;
  }

  .form-phone__content::after {
    top: -5px;
    right: 183px;
  }
}
