.form-main {
  width: 100%;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;

  background-color: $first-bgd-color;
  color: $first-font-color;
}

.form-main__header {
  background-color: $second-bgd-color;
  color: $first-font-color;
}

.form-main__bottom-bg {
  display: none;
}

.form-main__header-wrapper {
  display: flex;
  min-height: 176px;
}

.form-main__title {
  margin: auto;
  margin-top: 69px;

  text-align: center;
  font-size: 27px;
  vertical-align: 30px;
  font-weight: bold;
  color: $first-font-color;
}

.form-main__text {
  width: 260px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 20px;

  font-size: 13px;
  vertical-align: 24px;
  font-weight: normal;
  line-height: 1.9;
  color: $second-font-color;
}

@media (min-width: $tablet-width) {
  .form-main {
    margin-bottom: 50px;
  }

  .form-main__header {
    position: relative;
  }

  .form-main__bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -75px;

    fill: #ffffff;
  }

  .form-main__header-wrapper {
    width: 768px;
    min-height: 225px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-main__title {
    margin-top: 93px;

    font-size: 43px;
    vertical-align: 50px;
  }

  .form-main__text {
    width: 668px;
    padding-top: 70px;
    padding-bottom: 0;

    font-size: 17px;
    vertical-align: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form-main__header {
    min-height: 255px;
  }

  .form-main__header::after {
    bottom: -17px;

    height: 35.8px;
  }

  .form-main__title {
    font-size: 53px;
    vertical-align: 57px;
  }

  .form-main__text {
    box-sizing: border-box;
    width: 100%;
    padding-top: 119px;
    padding-left: 225px;
    padding-right: 225px;
  }
}
