.form-name {
  font-size: 17px;
  vertical-align: 18px;
  font-weight: bold;
  color: $first-font-color;
}

::-webkit-input-placeholder {
  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

:-moz-placeholder {
  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

:-ms-input-placeholder {
  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

.form-name__wrapper {
  display: block;
  padding-bottom: 30px;
}

.form-name__title {
  width: 100%;
  padding-top: 0;
  padding-bottom: 8px;
}

.form-name__item {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 14px;
}

.form-name__input {
  width: 100%;
  display: block;
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .form-name {
    font-size: 19px;
  }

  .form-name__wrapper {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 78px;
  }

  .form-name__title {
    flex-shrink: 0;
    width: 167px;
  }

  .form-name__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form-name__item {
    display: flex;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .form-name__input {
    margin: 0;
    margin-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .form-name__title {
    width: 175px;
    padding-right: 10px;

    text-align: center;
  }

  .form-name__content {
    padding-right: 175px;
  }
}
