.form-email__content {
  position: relative;
}

.form-email__layout {
  padding-bottom: 0;
}

.form-email__title {
  padding-top: 0;
  padding-bottom: 20px;
}

.form-email__item {
  width: 100%;
  display: block;
  padding-bottom: 12px;
}

.form-email__input {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 15px;
  padding-right: 35px;

  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
}

.form-email__input:hover {
  border-bottom-color: $first-decor-color;
}

::-webkit-input-placeholder {
  opacity: 0.3;
  transition: opacity 0.3s ease;

  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

::-moz-placeholder {
  opacity: 0.3;
  transition: opacity 0.3s ease;

  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

:-moz-placeholder {
  opacity: 0.3;
  transition: opacity 0.3s ease;

  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

:-ms-input-placeholder {
  opacity: 0.3;
  transition: opacity 0.3s ease;

  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;
}

.form-email__input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;

  color: transparent;
}

.form-email__input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;

  color: transparent;
}

.form-email__input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;

  color: transparent;
}

.form-email__input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;

  color: transparent;
}

.form-email__icon {
  position: absolute;
  top: 0;
  right: 4px;
  width: 32px;
  height: 21px;

  opacity: 0.2;
  fill: $first-font-color;
}

.form-email__input:hover ~ .form-email__icon,
.form-email__input:active ~ .form-email__icon {
  opacity: 1;
  fill: $first-decor-color;
}

@media (min-width: $tablet-width) {
  .form-email {
    padding-left: 50px;
    padding-right: 50px;

    background-color: $second-bgd-color;
  }

  .form-email__wrapper {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 18px;
  }

  .form-email__title {
    background-color: $second-bgd-color;
  }

  .form-email__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .form-email__input {
    padding-right: 75px;

    background-color: $second-bgd-color;
  }

  .form-email__icon {
    right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .form-email__content {
    padding-right: 175px;
  }

  .form-email__layout {
    padding-left: 15px;
  }

  .form-email__input {
    padding-right: 50px;
  }

  .form-email__icon {
    right: 179px;
  }
}
