.form-extra {
  padding-bottom: 15px;
}

.form-extra__layout {
  padding-bottom: 22px;
}

.form-extra__title {
  width: 100%;
  padding-top: 0;
  padding-bottom: 23px;
}

.form-extra__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 143px;
  display: block;
  padding: 15px;

  font-size: 17px;
  vertical-align: 18px;
  color: $second-font-color;
  text-overflow: ellipsis;

  border: 2px solid $first-font-color;
}

@media (min-width: $tablet-width) {
  .form-extra {
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form-extra__wrapper {
    box-sizing: border-box;
    display: flex;
    padding-top: 49px;
    padding-bottom: 52px;
  }

  .form-extra__layout {
    padding-top: 17px;
  }

  .form-extra__title {
    flex-shrink: 0;
    width: 167px;
    padding-top: 15px;
    padding-bottom: 0;
  }

  .form-extra__content {
    flex-grow: 1;
  }

  .form-extra__textarea {
    padding-top: 13px;

    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .form-extra__wrapper {
    padding-bottom: 49px;
  }

  .form-extra__title {
    width: 175px;
    padding-right: 11px;

    text-align: center;
  }

  .form-extra__content {
    padding-right: 175px;
  }
}
