.form-type {
  font-size: 17px;
  vertical-align: 18px;
  font-weight: bold;
  color: $first-font-color;
}

.form-type__item {
  display: block;
}

.form-color__item {
  display: block;
}

.form-name__item {
  display: block;
}

.form-name__input {
  display: block;
}
