.form-type {
  padding-bottom: 0;

  font-size: 17px;
  vertical-align: 18px;
  font-weight: bold;
  color: $first-font-color;
}

.form-type-wrapper {
  padding-bottom: 20px;
}

.form-type__item {
  display: block;
  margin-bottom: 22px;
  padding-left: 63px;
}

.form-type__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .form-type {
    padding-top: 70px;
    padding-bottom: 47px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form-type__content {
    font-size: 19px;
  }

  .form-type__item {
    margin-bottom: 54px;
    padding-left: 80px;
  }

  .form-type__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form-type {
    padding-bottom: 45px;
  }

  .form-type__title {
    width: 175px;
    padding-right: 10px;

    text-align: center;
  }
}
