.form-main {
  width: 100%;
  margin: 0;
  padding: 0 50px;

  background-color: $first-bgd-color;
  color: $first-font-color;
}

.form-main__header {
  min-height: 177px;

  background-color: $second-bgd-color;
  color: $first-font-color;
}

.form-main__title {
  margin: 0;
  text-align: center;
  font-size: 27px;
  vertical-align: 30px;
  font-weight: bold;
  color: $first-font-color;
  background-color: blue;
}

.form-main__text {
  margin: 0;

  font-size: 13px;
  vertical-align: 24px;
  font-weight: normal;
  color: $second-font-color;
}

.form-main__form {
  max-width: 260px;
  margin: 0 auto;

  background-color: rgba(200, 200, 200, 0.5);
}

@media (min-width: $tablet-width) {
  .form-main {
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-main__header {
    min-height: 225px;
  }

  .form-main__form {
    max-width: 100%;
    margin: 0;
    padding-left: 167px;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .form-main__header {
    min-height: 255px;
  }

  .form-main__text {
    padding-left: 175px;
    padding-right: 175px;
  }
}
