.form-email__wrapper {
  display: block;
  padding-bottom: 30px;
}

.form-email__title {
  width: 100%;
  padding-top: 0;
  padding-bottom: 20px;
}

.form-email__item {
  width: 100%;
  display: block;
  padding-bottom: 12px;

  border-bottom: 2px solid #000000;
}

.form-email__input {
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form-email {
    background-color: $second-bgd-color;
  }

  .form-email__wrapper {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 49px;
  }

  .form-email__title {
    flex-shrink: 0;
    width: 167px;
  }

  .form-email__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .form-email__title {
    width: 175px;
    padding-left: 4px;

    text-align: center;
  }

  .form-email__content {
    padding-right: 175px;
  }
}
