.goods-categories__list {
  display: block;
  font-size: 19px;
  vertical-align: 24px;
  font-weight: bold;
  color: $decor-font-color;

  list-style: none;
  margin: 0;
  padding: 0;
}

.goods-categories__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  &--interior {
    background-color: $first-decor-color;
  }

  &--interior::after {
    content: "";
    position: absolute;
    top: center;
    right: 35px;
    width: 41px;
    height: 62px;

    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--toys {
    background-color: $second-decor-color;
  }

  &--toys::after {
    content: "";
    position: absolute;
    top: center;
    right: 27px;
    width: 61px;
    height: 61px;

    background-image: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.goods-categories__link {
  box-sizing: border-box;
  width: 100%;
  min-height: 103px;
  padding-left: 30px;
  padding-top: 26px;

  line-height: 1.3;
}

@media (min-width: $tablet-width) {
  .goods-categories {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .goods-categories__list {
    display: flex;
  }

  .goods-categories__item {
    flex-grow: 1;
    width: 50%;
  }

  .goods-categories__link {
    min-height: 119px;
    padding-top: 28px;
    padding-left: 35px;

    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .goods-categories {
    width: 1050px;
  }
}
