.good-category {
  font-size: 19px;
  vertical-align: 24px;
  font-weight: bold;
  color: $decor-font-color;
}

.good-category__item {
  &--interior {
    background-color: $first-decor-color;
  }
}

.good-category__item {
  &--toys {
    background-color: $second-decor-color;
  }
}
