.goods-of-week {
  margin: 0;
  padding: 35px 30px;

  background-color: $first-bgd-color;
  color: $second-font-color;

  outline: 4px dotted blue;

  &::after {
    content: ".goods-of-week";
    font-size: 8px;
    background-color: blue;
    color: white;
  }
}

.goods-of-week__title {
  font-size: 25px;
  vertical-align: 30px;
  font-weight: bold;
  color: $first-font-color;
}

.goods-of-week__description {
  font-size: 15px;
  vertical-align: 24px;
}

.goods-of-week__price {
  font-size: 17px;
  vertical-align: 24px;
  font-weight: bold;
}
