.goods-categories {
  font-family: $main-font-family;
}

.goods-categories__list {
  display: block;
  font-size: 19px;
  vertical-align: 24px;
  font-weight: bold;
  color: $decor-font-color;

  list-style: none;
  margin: 0;
  padding: 0;
}

.goods-categories__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 103px;

  &--interior {
    background-color: $first-decor-color;
  }

  &--toys {
    background-color: $second-decor-color;
  }
}

.goods-categories__link {
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .goods-categories__list {
    display: flex;
  }

  .goods-categories__item {
    flex-grow: 1;
  }
}
