.goods-categories__list {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 19px;
  vertical-align: 24px;
  font-weight: bold;
  color: $decor-font-color;
  list-style: none;
}

.goods-categories__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 103px;


  &--interior {
    background-color: $first-decor-color;
  }

  &--toys {
    background-color: $second-decor-color;
  }
}

.goods-categories__link {
  position: relative;
  box-sizing: border-box;
  width: 260px;
  margin: auto;

  line-height: 1.3;
}

.goods-categories__icon-interior {
  position: absolute;
  top: -5px;
  right: 6px;
  width: 41px;
  height: 62px;

  fill: $main-decor-color;
  opacity: 0.5;
}

.goods-categories__icon-toy {
  position: absolute;
  top: -8px;
  right: -4px;
  width: 61px;
  height: 61px;

  fill: $main-decor-color;
  opacity: 0.5;
}

.goods-categories__item--interior:hover .goods-categories__icon-interior,
.goods-categories__item--toys:hover .goods-categories__icon-toy {
  opacity: 0.7;
}

.goods-categories__item--interior:active .goods-categories__link,
.goods-categories__item--toys:active .goods-categories__link {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .goods-categories {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .goods-categories__list {
    display: flex;
    min-height: 123px;
  }

  .goods-categories__item {
    margin-top: 5px;
    flex-grow: 1;
    width: 50%;
    min-height: 118px;
  }

  .goods-categories__item--interior:hover,
  .goods-categories__item--toys:hover {
    margin-top: 0;
    transition: margin-top 0.3s ease;
  }

  .goods-categories__link {
    min-height: 119px;
    padding-top: 28px;
    padding-left: 0;

    line-height: 1.6;
  }

  .goods-categories__item--interior:hover .goods-categories__link,
  .goods-categories__item--toys:hover .goods-categories__link {
    padding-top: 23px;
    transition: padding-top 0.3s ease;
  }

  .goods-categories__icon-interior {
    top: 30px;
    right: 0;
  }

  .goods-categories__icon-toy {
    top: 31px;
    right: -4px;
  }

  .goods-categories__item--interior:hover .goods-categories__icon-interior {
    top: 25px;
    transition: top 0.3s ease;
  }

  .goods-categories__item--toys:hover .goods-categories__icon-toy {
    top: 26px;
    transition: top 0.3s ease;
  }
}

@media (min-width: $desktop-width) {
  .goods-categories {
    width: 1050px;
  }

  .goods-categories__link {
    width: 525px;
    margin-left: 36px;
  }

  .goods-categories__icon-interior {
    top: 30px;
    right: 36px;
  }

  .goods-categories__icon-toy {
    right: 35px;
  }
}
