.page-footer {
  margin: 0;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;

  background-color: $first-bgd-color;
  color: $first-font-color;

  &__feedback {
    color: $first-font-color;
  }
}
