.page-header {
  box-sizing: border-box;

  border-top: 1px solid $fourth-decor-color;
}

.page-header__wrapper {
  position: relative;
}

.page-header__first-menu,
.page-header__second-menu,
.page-header__third-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header__third-menu,
.page-header__text {
  display: none;
}

.page-header__show-menu {
  display: block;
}

.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 20px;
  padding: 30px;
  padding-bottom: 28px;

  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;

  font-size: 0;
}

.page-header__logo {
  display: block;

  text-align: center;
  border-bottom: 1px solid $fourth-decor-color;
}

.page-header__logo-image {
  padding: 22px;
  padding-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .page-header {
    height: 89px;
    border-top: none;
  }

  .page-header__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .page-header__first-menu,
  .page-header__second-menu,
  .page-header__text {
    display: block;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-header__logo {
    width: 113px;
    height: 46px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 50px;
  }

  .page-header__logo-image {
    width: 113px;
    height: 46px;
    padding: 0;
  }

  .page-header__first-menu {
    width: 49%;
    order: 2;
  }

  .page-header__second-menu {
    display: flex;
    justify-content: space-between;
    width: 52%;
    height: 89px;
  }

  .page-header__text {
    order: 3;
    margin: 0;
    padding-top: 21px;

    font-size: 15px;
    vertical-align: 24px;
    color: $second-font-color;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-header__logo {
    order: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 89px;
    margin: 0;
    padding: 0;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
    margin-right: 20px;
  }

  .page-header__first-menu {
    order: 0;
    margin: 0;
    width: auto;
  }

  .page-header__second-menu {
    order: 3;
    display: inline-block;
    width: 40%;
  }

  .page-header__third-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 18px;
    order: 3;
  }

  .page-header__text {
    order: 3;
  }
}
