.page-header {
  margin: 0;
  padding: 22px 30px;

  background-color: $first-bgd-color;
  color: $first-font-color;

  outline: 2px solid red;

  &::after {
    content: ".page-header";
    font-size: 8px;
    background-color: red;
    color: white;
  }
}
