.page-footer {
  margin: 0;
  padding: 0;

  background-color: $first-bgd-color;
  color: $first-font-color;
}

.page-footer__short-footer {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: $second-bgd-color;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  box-sizing: border-box;
}

.page-footer__copyright {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 0;
  }

  .page-footer__wrapper {
    background-color: $first-bgd-color;
  }

  .page-footer__short-footer {
    display: flex;
    min-height: 143px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__short-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__logo {
    cursor: pointer;

    display: block;
  }

  .page-footer__logo-footer:active,
  .page-footer__logo-footer:hover {
    fill: $footer-hover-color;
  }

  .page-footer__logo-footer:active {
    opacity: 0.3;
  }

  .page-footer__social {
    max-width: 350px;
  }

  .page-footer__copyright {
    width: 185px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__contacts {
    margin-bottom: 107px;
  }

  .page-footer__short-footer-wrapper {
    width: 1050px;
  }

  .page-footer__social {
    max-width: 700px;
  }
}
