.page-main {
  background-color: $first-bgd-color;
  color: $first-font-color;
}

.page-main__header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 488px;
  margin: 0;
  padding: 0;

  background-color: $second-bgd-color;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto 350px;
  color: $first-font-color;
}

.page-main__main-title {
  align-self: center;
  margin-top: 67px;
  margin-bottom: auto;
  margin-left: 25px;
  margin-right: 25px;
  max-width: 400px;

  text-align: center;
  font-size: 27px;
  vertical-align: 30px;
  font-weight: bold;
  color: $first-font-color;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;

    background-size: auto 460px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    width: 1050px;
  }
}
