.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $first-bgd-color;
  opacity: 0.9;
  z-index: 30;

  &--open {
    display: block;
  }

  &--close {
    display: none;
  }
}
