.process__title-icon {
  font-size: 0;
}

.process__title-text {
  font-size: 17px;
  vertical-align: 24px;
  font-weight: bold;
  color: $first-font-color;
}

.process__text {
  font-size: 13px;
  vertical-align: 24px;
  color: $second-font-color;
}

.process__do-order {
  vertical-align: 16px;
}
