.sale-list {
  margin: 0;
  padding: 0;
}

.sale-list__item {
  display: inline-block;
  margin-right: 30px;
}

.sale-list__link {
  font-size: 17px;
  vertical-align: 24px;
  font-weight: 700;
  color: $first-font-color;
}

.sale-list__link:hover {
  opacity: 0.6;
}

.sale-list__link:active {
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .sale-list {
    display: flex;
  }

  .sale-list__item {
    display: flex;
    margin-right: 60px;

    z-index: 20;
  }

  .sale-list__link {
    height: 36px;
    padding-top: 21px;

    font-size: 15px;
  }
}
