.sale-list {
  margin: 0;
  padding: 0;
}

.sale-list__item {
  display: inline-block;
  margin-right: 30px;
}

.sale-list__new-goods,
.sale-list__sale {
  font-size: 17px;
  vertical-align: 24px;
  font-weight: bold;
  color: $first-font-color;
}

@media (min-width: $desktop-width) {
  .sale-list {
    display: flex;
  }

  .sale-list__item {
    display: flex;
  }

  .sale-list__link {
    height: 36px;
    padding-top: 21px;
  }
}
