.search-list {
  background-color: $first-bgd-color;
  font-size: 17px;
  vertical-align: 24px;
  font-weight: bold;
  color: $first-font-color;

  list-style: none;
}

.search-list__search {
  color: $first-font-color;
}
