.showcase {
  outline: 4px dotted blue;

  &::after {
    content: ".showcase";
    font-size: 8px;
    background-color: blue;
    color: white;
  }
}

.showcase__item {
  outline: 2px solid yellow;

  &::after {
    content: ".showcase__item";
    font-size: 8px;
    background-color: yellow;
    color: black;
  }
}
