.site-list {
  min-width: 400px;
  margin: 0;
  padding: 0;
}

.sale-list__item:last-child {
  margin-right: 0;
}

.site-list__link {
  font-size: 17px;
  vertical-align: 24px;
  font-weight: bold;
  color: $first-font-color;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    display: inline-block;
    margin-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    line-height: 90px;
  }
}
