.site-list {
  background-color: $first-bgd-color;

  font-size: 17px;
  vertical-align: 24px;
  font-weight: bold;
  color: $first-font-color;

  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  display: flex;
  min-height: 78px;
}

.site-list__link {
  margin: auto;
  color: $first-font-color;
}

.site-list__new-goods {
  display: none;
}

.site-list__sale {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .site-list__item {
    position: relative;
  }

  .site-list__link {
    min-width: 167px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    justify-content: space-between;
  }

  .site-list__new-goods {
    display: block;
    position: absolute;
    left: 0;
    bottom: $site-list-indent;

    font-size: 15px;
    vertical-align: 24px;
    font-weight: bold;
    color: $first-font-color;
  }

  .site-list__sale {
    display: block;
    position: absolute;
    left: 0;
    bottom: $site-list-indent;

    font-size: 15px;
    vertical-align: 24px;
    font-weight: bold;
    color: $first-font-color;
  }
}
