.site-list {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.site-list__item {
  display: flex;

  box-sizing: border-box;
  min-height: 80px;
}

.site-list__item:nth-child(2n) {
  margin-right: 0;
}

.site-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  font-size: 17px;
  vertical-align: 24px;
  font-weight: 700;
  color: $first-font-color;
  border-bottom: 1px solid $fourth-decor-color;
  background-color: $first-bgd-color;
  z-index: 20;
}

.site-list__link[href]:active .site-list__text {
  opacity: 0.3;
}

.site-list__text {
  box-sizing: border-box;
  min-width: 260px;
  padding-left: 46px;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 32px;
  }

  .site-list__link {
    display: block;
    height: 36px;
    padding-top: 21px;
    padding-left: 0;

    font-size: 15px;
    border-bottom: none;
    background-color: transparent;
  }

  .site-list__text {
    min-width: 0;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__item {
    min-height: 89px;
    margin-right: 0;
    padding-right: 34px;
  }

  .site-list li:first-child {
    border-right: 1px solid $fourth-decor-color;
  }

  .site-list li:nth-child(2n) {
    padding-right: 0;
    margin-left: 35px;
    border-right: none;
  }

  .site-list li:nth-child(2n) {
    border-right: none;
  }

  .site-list__link {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 31px;

    font-size: 17px;
  }

  .site-list__link[href]:hover {
    opacity: 0.6;
  }
}
