.unit {
  &__title {
    font-size: 17px;
    vertical-align: 24px;
    font-weight: bold;
    color: $first-font-color;
  }

  &__characteristics {
    font-size: 13px;
    vertical-align: 30px;
    color: $second-font-color;
  }

  &__price {
    font-size: 15px;
    vertical-align: 24px;
    font-weight: bold;
    color: $first-font-color;
  }

  &__basket {
    font-size: 0;
  }
}
