.user-block {
  margin: 0;
  padding: 0;
}

.user-block__search-item,
.user-block__basket-item {
  box-sizing: border-box;
  display: flex;
  min-height: 79px;
}

.user-block__search-link,
.user-block__basket-link {
  width: 100%;
  padding-left: 76px;
  padding-top: 30px;

  font-size: 17px;
  vertical-align: 24px;
  font-weight: bold;
  color: $first-font-color;
  border-bottom: 1px solid $fourth-decor-color;
  background-color: $first-bgd-color;
}

@media (min-width: $tablet-width) {
  .user-block__search-item,
  .user-block__basket-item {
    display: block;

    line-height: 90px;
  }

  .user-block__search-item {
    box-sizing: border-box;
    display: flex;

    border-left: 1px solid $fourth-decor-color;
    border-right: 1px solid $fourth-decor-color;
  }

  .user-block__search-link {
    position: relative;

    width: 82px;
    height: 89px;
    padding-left: 0;
    padding-top: 0;

    font-size: 0;
    border-bottom: none;
  }

  .user-block__icon-search {
    position: absolute;
    top: 35px;
    left: 32px;
  }

  .user-block__basket-item {
    display: flex;
    justify-content: flex-end;
    height: 89px;
  }

  .user-block__basket-link {
    position: relative;
    display: flex;
    padding-left: 0;
    padding-top: 0;

    border-bottom: none;
  }

  .user-block__icon-cart {
    position: absolute;
    top: 35px;
    left: -54px;
    width: 21px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .user-block {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    width: 350px;
  }

  .user-block__search-item {
    flex-grow: 0;
  }

  .user-block__basket-item {
    flex-grow: 1;
  }

  .user-block__basket-link {
    padding-left: 82px;
  }

  .user-block__icon-cart {
    left: 31px;
  }
}
