.user-block {
  margin: 0;
  padding: 0;
}

.user-block__search-link,
.user-block__basket-link {
  font-size: 17px;
  vertical-align: 24px;
  font-weight: bold;
  color: $first-font-color;
}

@media (min-width: $tablet-width) {
  .user-block__search-item,
  .user-block__basket-item {
    line-height: 90px;
  }

  .user-block__search-item {
    box-sizing: border-box;
    display: flex;

    border-left: 1px solid $fourth-decor-color;
    border-right: 1px solid $fourth-decor-color;
  }

  .user-block__search-link {
    font-size: 0;
    width: 84px;
  }

  .user-block__basket-item {
    display: flex;
    justify-content: flex-end;
    height: 89px;
  }
}

@media (min-width: $desktop-width) {
  .user-block {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    width: 350px;
  }

  .user-block__search-item {
    flex-grow: 0;
  }

  .user-block__basket-item {
    flex-grow: 1;
  }
}
